#过滤文件夹Debug,Release,obj
.idea/
__pycache__/
python_src/
data/
errot/
ceshi.py
ss.py
ss2.py
ss3.py
a.py
character1/
make_data/
src/utils/load.py
model/*.onnx
demo2.py
verify.py
verify_data.txt
verify_data/
res1.jpg
res2.jpg